* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

li, a {
  list-style-type: none;
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.navbar_img h3 {
  color: #173A56;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
}
.navbar .burger {
  background: #02897A;
  padding: 4px;
  border-radius: 15%;
  display: none;
}
.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.navbar .menu li a {
  color: #173A56;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.navbar .menu li a:hover {
  color: black;
}
@media screen and (max-width: 885px) {
  .navbar .menu {
    display: none;
  }
  .navbar .burger {
    display: block;
  }
}
.navbar .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.navbar .btns .btn {
  color: #173A56;
  border: 1px solid #BCD0E5;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: white;
}
.navbar .btns .btn:hover {
  background: #02897A;
  color: white;
}
.navbar .btns .btn-img {
  display: grid;
  padding: 3px;
}
.navbar .btns .btn-img:hover {
  background: #F3F3F3;
  border-radius: 50%;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work_text h1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.work_text p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 18px 0 45px;
}
.work_text .work_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work_text .work_btn .btn_work1 {
  color: #173A56;
  border: 1px solid #BCD0E5;
  padding: 15px 41px;
  border-radius: 4px;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  background-color: #02897A;
}
.work_text .work_btn .btn_work2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  border: none;
  color: #02897A;
  background: white;
  text-decoration: underline;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.work_img {
  max-width: 610px;
}
.work_img img {
  width: 100%;
  height: auto;
}